@import "../../assets/scss/media";
.posts-stream {
    .posts {
        width: 100%;
        background-color: var(--white);
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 25px;
        @include md {
            padding: 30px;
        }
    }
}


