@import "../../../../assets/scss/media";
.tab-menu-navbar {
    height: 65px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tab-menu {
        display: flex;
        align-items: center;
        height: 100%;
        p.item-nav {
            position: relative;
            height: 100%;
            cursor: pointer;
            font-weight: 600;
            margin-right: 30px;
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            &:last-child {
                margin-right: none;
            }
            &:hover {
                color: var(--primary);
            }
        }
        p.item-nav.active {
            color: var(--primary);
            &::after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: var(--primary);
                -webkit-animation: zoom-out 0.3s ease-in-out;
                animation: zoom-out 0.3s ease-in-out;
                animation-timing-function: 0.3s;
                animation-delay: 0s;
            }
        }
    }
    .option-box {
        height: 100%;
        align-items: center;
        display: none;
        @include lg {
            display: flex;
        }
        .edit-profile {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
            img.ic-edit {
                width: 19px;
            }
            p {
                margin-left: 7px;
                color: var(--title-text);
                font-weight: 600;
            }
            &:hover {
                padding: 10px;
                background-color: var(--grey);
                border-radius: 5px;
            }
        }
    }
}
