* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
textarea,
input,
button {
  outline: none;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}
