
.chat-app{
    form{
        background-color: aqua;
        input{
            background-color: antiquewhite;
        }
        button{
            background-color: blueviolet;
            color: var(--white);
        }
    }
}