@import "../../../assets/scss/media";
@import "../../../assets/scss/animate";

.posts-footer {
    border-top: 1px solid var(--grey);
    padding-top: 20px;
    .post-comment-box {
        margin-top: 20px;
        width: 100%;
        border: 2px solid var(--border-light);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        height: 52px;
        img.img-userAvt {
            margin-right: 10px;
            width: 32px !important;
            height: 32px !important;
            border-radius: 50%;
            object-fit: cover;
        }
        input.comment-input {
            position: relative;
            width: 80%;
            max-width: 80%;
            @include xl {
                width: 85%;
                max-width: 85%;
            }
            max-height: 40px;
            height: 100%;
            overflow: auto;
            font-size: 0.95rem;
        }
        .btn-post {
            margin-left: 10px;
            cursor: pointer;
            position: relative;
            width: 35px;
            height: 35px;
            background-color: var(--border-light);
            border-radius: 5px;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15px !important;
            }
        }
    }
    .posts-footer-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.95rem;
        .left {
            display: flex;
            align-items: center;
            .drop-emotion {
                position: relative;
                cursor: pointer;
                margin-right: 15px;
                display: flex;
                align-items: center;
                transition: all 0.5s ease;
                img.img-emotion {
                    width: 21px !important;
                }
                p {
                    margin-left: 5px;
                }
                .emoji-tooltip {
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.5s ease;
                    position: absolute;
                    left: 0;
                    bottom: 100%;
                    transform: translate(-1%, -15%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--white);
                    box-shadow: 0px 0px 5px 0px rgba(#333, 0.1);
                    height: 50px;
                    padding: 0px 20px;
                    border-radius: 30px;
                    .item-emoji {
                        margin-right: 15px;
                        transition: all 0.3s ease;
                        &:last-child {
                            margin-right: 0px;
                        }
                        img.img-emoji {
                            transition: all 0.3s ease;
                            width: 28px !important;
                            @include sm {
                                width: 30px !important;
                            }
                        }
                        &:hover {
                            img.img-emoji {
                                transform: scale(1.15);
                            }
                        }
                        p.desc-tooltip {
                            display: none;
                        }
                    }
                }
                &:hover {
                    .emoji-tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .btn-comment {
                cursor: pointer;
                display: flex;
                align-items: center;
                img.ic-cmt {
                    width: 20px;
                }
                p {
                    margin-left: 5px;
                }
            }
        }
    }
    .posts-comment {
        ul.list-comment {
            margin-top: 30px;
            li.item-comment {
                display: flex;
                margin-bottom: 20px;
                .user-avatar {
                    width: 40px !important;
                    height: 40px !important;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 10px;
                    img.img-avt {
                        width: 100% !important;
                        height: 100% !important;
                        object-fit: cover;
                    }
                }
                .comment-detail {
                    width: 80%;
                    .subject {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        p.username {
                            color: var(--title-text);
                            font-weight: 500;
                            font-size: 0.95rem;
                            > .tick {
                                width: 14px;
                                height: 14px;
                                margin-right: 5px;
                            }
                        }
                        p.time {
                            font-size: 0.85rem;
                        }
                    }
                    .content-comment-box {
                        display: flex;
                        align-items: center;
                        p.content-comment {
                            width: fit-content;
                            background-color: var(--border-light);
                            padding: 12px;
                            font-size: 0.9rem;
                            border-radius: 5px;
                        }
                        .btn-option {
                            position: relative;
                            margin-left: 6px;
                            cursor: pointer;
                            font-size: 16px;
                            .option-box {
                                position: absolute;
                                z-index: 3;
                                left: 0;
                                padding: 10px 15px 10px 10px;
                                background-color: var(--white);
                                box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.1);
                                border-radius: 4px;
                                p.item-option {
                                    font-size: 0.9rem;
                                    cursor: pointer;
                                    transition: all 0.3s ease;
                                    &:first-child {
                                        margin-bottom: 2px;
                                    }
                                    &:hover {
                                        color: var(--primary);
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .posts-comment.open {
        -webkit-animation: back-in-down 0.4s ease-in-out;
        animation: back-in-down 0.4s ease-in-out;
        animation-timing-function: 0.4s;
        animation-delay: 0s;
    }
}
