@import "../../../assets/scss/media";
.messages-page {
    height: 80vh;
    min-height: 560px;
    //max-height: 750px;
    @media (min-width: 1100px) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .messages-side-threads {
        width: 100%;
        @media (min-width: 1100px) {
            width: calc(40% - 25px);
        }
        @include xl {
            width: calc(33% - 25px);
        }
        height: 100%;
    }
    .conversation-side-thread {
        margin-top: 20px;
        width: 100%;
        @media (min-width: 1100px) {
            margin-top: 0px;
            width: 60%;
        }
        @include xl {
            width: 67%;
        }
        height: 100%;
        .top-header-conversation {
            margin-bottom: 15px;
            border-radius: 5px;
            padding: 0px 20px;
            height: 63px;
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left-top-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                //background-color: aqua;
                width: calc(100% - 35px);
                .info-conversation {
                    display: flex;
                    align-items: center;
                    button.btn-back {
                        font-size: 15px;
                    }
                    .user-conversation {
                        margin-left: 15px;
                        display: flex;
                        align-items: center;
                        img.img-avt {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        .user-desc {
                            margin-left: 10px;
                            p.userName {
                                color: var(--title-text);
                                font-weight: 500;
                                font-size: 1.05rem;
                            }
                            p.status {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
                .search-message-ic {
                    cursor: pointer;
                    i {
                        color: var(--primary);
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }
            button.btn-size {
                cursor: pointer;
                i {
                    color: var(--primary);
                    font-weight: 600;
                    font-size: 17px;
                }
            }
        }
        .top-header-conversation.flex-end {
            justify-content: flex-end;
        }
        .conversation-content {
            position: relative;
            border-radius: 5px;
            width: 100%;
            height: calc(100% - 63px - 15px);
            overflow: hidden;
            .dateGr {
                position: relative;
                display: flex;
                justify-content: center;
                padding: 20px 0px;
                p.date {
                    font-size: 0.8rem;
                    font-weight: 500;
                    background-color: #eaeff8;
                    padding: 5px 12px;
                    border-radius: 3px;
                    color: var(--primary);
                    width: fit-content;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0%, 50%);
                    z-index: 2;
                    width: 40%;
                    height: 1px;
                    background-color: var(--grey);
                }
                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0%, 50%);
                    z-index: 2;
                    width: 40%;
                    height: 1px;
                    background-color: var(--grey);
                }
            }
        }
    }
}
